.checkoutcontainer {
    max-width: 50rem;
    margin: 0 auto;
}

.checkoutfooter {
    color: #a8a8a8;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
}

.checkoutform__name {
    color: #b9bac5;
    padding: 10px;
    font-size: 1checkout5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 60px;
}

.checkoutform__container {
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    border: 1px solid #dadde8;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 100px;
}

.checkoutpersonal--form {
    color: #a4a9c5;
    font-size: 0checkout7rem;
    letter-spacing: 0checkout5px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 55px;
    margin-top: 10px;
}
.checkoutpersonal--form .checkoutlast {
    margin-left: 0px;
    margin-top: 20px;
}
.checkoutpersonal--form .checkoutfirst,
.checkoutpersonal--form .checkoutlast,
.checkoutpersonal--form .checkoutemail,
.checkoutpersonal--form .checkoutnumber {
    display: inline-block;
}
.checkoutpersonal--form .checkoutfirst label,
.checkoutpersonal--form .checkoutlast label,
.checkoutpersonal--form .checkoutemail label,
.checkoutpersonal--form .checkoutnumber label {
    margin-bottom: 10px;
}
.checkoutpersonal--form .checkoutfirst label,
.checkoutpersonal--form .checkoutfirst input,
.checkoutpersonal--form .checkoutlast label,
.checkoutpersonal--form .checkoutlast input,
.checkoutpersonal--form .checkoutemail label,
.checkoutpersonal--form .checkoutemail input,
.checkoutpersonal--form .checkoutnumber label,
.checkoutpersonal--form .checkoutnumber input {
    display: block;
    min-width: 250px;
}
.checkoutpersonal--form .checkoutemail {
    margin-top: 20px;
}
.checkoutpersonal--form .checkoutemail input {
    width: 250px;
}
.checkoutpersonal--form .checkoutnumber {
    margin-top: 20px;
}
.checkoutpersonal--form .checkoutnumber input {
    width: 250px;
}

.checkoutshipping--form {
    color: #a4a9c5;
    font-size: 0checkout7rem;
    letter-spacing: 0checkout5px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 55px;
    margin-top: 10px;
}
.checkoutshipping--form .checkoutrow.checkouttwo,
.checkoutshipping--form .checkoutrow.checkoutthree {
    margin-top: 20px;
}
.checkoutshipping--form .checkoutaddress-two,
.checkoutshipping--form .checkoutstate,
.checkoutshipping--form .checkoutcountry {
    margin-left: 0px;
}
.checkoutshipping--form .checkoutaddress,
.checkoutshipping--form .checkoutaddress-two,
.checkoutshipping--form .checkoutcity,
.checkoutshipping--form .checkoutstate,
.checkoutshipping--form .checkoutzip,
.checkoutshipping--form .checkoutcountry {
    display: inline-block;
}
.checkoutshipping--form .checkoutaddress label,
.checkoutshipping--form .checkoutaddress-two label,
.checkoutshipping--form .checkoutcity label,
.checkoutshipping--form .checkoutstate label,
.checkoutshipping--form .checkoutzip label,
.checkoutshipping--form .checkoutcountry label {
    margin-bottom: 10px;
}
.checkoutshipping--form .checkoutaddress label,
.checkoutshipping--form .checkoutaddress input,
.checkoutshipping--form .checkoutaddress-two label,
.checkoutshipping--form .checkoutaddress-two input,
.checkoutshipping--form .checkoutcity label,
.checkoutshipping--form .checkoutcity input,
.checkoutshipping--form .checkoutstate label,
.checkoutshipping--form .checkoutstate input,
.checkoutshipping--form .checkoutzip label,
.checkoutshipping--form .checkoutzip input,
.checkoutshipping--form .checkoutcountry label,
.checkoutshipping--form .checkoutcountry input {
    display: block;
    min-width: 250px;
}

.checkoutform__question {
    padding: 10px 55px;
    color: #646e8a;
}
.checkoutform__question p {
    display: inline-block;
    margin-left: 10px;
    font-weight: 500;
    vertical-align: middle;
}
.checkoutform__question input[type="checkbox"] {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #646e8a;
    transition: background-color 0checkout2s
        cubic-bezier(0checkout4, 0, 0checkout2, 1);
}
.checkoutform__question input[type="checkbox"]:checked {
    background-color: #ffd200;
}

.checkoutInput {
    font-size: 0checkout8rem;
    font-weight: 700;
    letter-spacing: 0checkout5px;
    background: transparent;
    border: 1px solid #a4a9c5;
    border-radius: 3px;
    outline: none;
    padding: 10px;
    transition: border-color 0checkout2s
        cubic-bezier(0checkout4, 0, 0checkout2, 1);
    color: #ffd200;
}
.checkoutInput:focus {
    border-color: #ffd200;
}
.checkoutInput::placeholder {
    font-weight: 500;
    color: #646e8a;
}

.checkoutform__confirmation {
    padding: 10px 55px;
}

.checkoutButton {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #ffd200;
    border: 1px solid #dadde8;
    color: #fff;
    padding: 18px;
    border-radius: 5px;
    outline: none;
    transition: background-color 0checkout2s
        cubic-bezier(0checkout4, 0, 0checkout2, 1);
    position: relative;
    left: 80%;
}
.checkoutButton:hover {
    background-color: #000;
	color: white;
}
.checkoutButton:active {
    background-color: black;
}

.checkoutbox {
    cursor: default;
    user-select: none;
    display: inline-block;
    font-size: 1checkout5rem;
    font-weight: 400;
    height: 40px;
    width: 40px;
    line-height: 35px;
    border-radius: 50px;
    border: 2px solid #ffd200;
    text-align: center;
    color: #ffd200;
}
.checkoutbox.checkoutbilling {
    line-height: 30px;
}

section {
    margin-top: 50px;
}
section:nth-child(1) {
    margin-top: 0px;
}

.checkoutsections span {
    color: #646e8a;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 15px;
}

.checkoutright-icon {
    float: right;
    margin-right: 30px;
    margin-top: 0px;
}

.checkoutcity,
.checkoutstate,
.checkoutzip,
.checkoutcountry {
    margin-top: 20px;
}
